<ion-header>
  <ion-navbar> <ion-title>Offer</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="message-container">
    <div
      class="offer-position-container"
      style="background-image: 
    url('../../assets/imgs/avatar-starbucks.png')"
    >
      <!-- linear-gradient(rgba(9, 99, 196, 0.8), rgba(63, 176, 198, 0.5)), -->
      <!-- <h1>Junior Barista</h1> -->
    </div>

    <h1>Congrats!</h1>
    <h4>You've received an offer as a Junior Barista!</h4>
    <p>
      Before you accept the company's offer, make sure to download and read our terms & agreements
    </p>
    <button class="eula-file-btn">
      <ion-icon name="ios-cloud-download-outline"></ion-icon>Download EULA
    </button>
    <p>and also the company's company policy</p>
    <button class="eula-file-btn">
      <ion-icon name="ios-cloud-download-outline"></ion-icon>Download Company Policy
    </button>

    <button (click)="onAcceptOffer()" class="offer-accept-btn">Yes, I accept the offer!</button>
  </div>

  <!-- https://codepen.io/mattsince87/pen/mOzEbX -->
  <!--
    <div class="svg">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        id="firework-slide2"
        class="firework-icon injected-svg img-firework inject-svg"
        data-name="Calque 1"
        viewBox="0 0 157 156"
      >
        <defs>
          <style>
            .cls-1,
            .cls-2,
            .cls-3 {
              fill: #000;
              opacity: 0;
            }
          </style>
        </defs>
        <title>icon_firework_1</title>
        <path
          class="cls-3"
          d="M80.52,106.92a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,106.92Z"
        ></path>
        <path
          class="cls-3"
          d="M97.72,100.91a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,97.72,100.91Z"
        ></path>
        <path
          class="cls-3"
          d="M108.32,85.95a0.61,0.61,0,0,1-.19,0l-9.55-3A0.65,0.65,0,1,1,99,81.69l9.55,3A0.65,0.65,0,0,1,108.32,85.95Z"
        ></path>
        <path
          class="cls-3"
          d="M98.77,71a0.65,0.65,0,0,1-.2-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24L99,71A0.66,0.66,0,0,1,98.77,71Z"
        ></path>
        <path
          class="cls-3"
          d="M91.7,61a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,91.7,61Z"
        ></path>
        <path
          class="cls-3"
          d="M80.52,57a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,57Z"
        ></path>
        <path
          class="cls-3"
          d="M67.64,61a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,67.64,61Z"
        ></path>
        <path
          class="cls-3"
          d="M60.57,71a0.66,0.66,0,0,1-.2,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,60.57,71Z"
        ></path>
        <path
          class="cls-3"
          d="M51,85.95a0.65,0.65,0,0,1-.19-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.61,0.61,0,0,1,51,85.95Z"
        ></path>
        <path
          class="cls-3"
          d="M61.62,100.91a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,61.62,100.91Z"
        ></path>

        <path
          class="cls-2"
          d="M80.52,126.88a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,126.88Z"
        ></path>
        <path
          class="cls-2"
          d="M109.74,116.86a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,109.74,116.86Z"
        ></path>
        <path
          class="cls-2"
          d="M127.42,91.92a0.61,0.61,0,0,1-.19,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,127.42,91.92Z"
        ></path>
        <path
          class="cls-2"
          d="M117.86,65a0.65,0.65,0,0,1-.2-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.66,0.66,0,0,1,117.86,65Z"
        ></path>
        <path
          class="cls-2"
          d="M103.73,45.08a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,103.73,45.08Z"
        ></path>
        <path
          class="cls-2"
          d="M80.52,37.07a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,37.07Z"
        ></path>
        <path
          class="cls-2"
          d="M55.61,45.08a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,55.61,45.08Z"
        ></path>
        <path
          class="cls-2"
          d="M41.47,65a0.62,0.62,0,0,1-.2,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,41.47,65Z"
        ></path>
        <path
          class="cls-2"
          d="M31.92,91.93a0.65,0.65,0,0,1-.19-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.61,0.61,0,0,1,31.92,91.93Z"
        ></path>
        <path
          class="cls-2"
          d="M49.59,116.86a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,49.59,116.86Z"
        ></path>

        <path
          class="cls-1"
          d="M80.52,146.83a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,146.83Z"
        ></path>
        <path
          class="cls-1"
          d="M121.77,132.82a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,121.77,132.82Z"
        ></path>
        <path
          class="cls-1"
          d="M146.52,97.9a0.61,0.61,0,0,1-.19,0l-9.55-3a0.65,0.65,0,1,1,.39-1.24l9.55,3A0.65,0.65,0,0,1,146.52,97.9Z"
        ></path>
        <path
          class="cls-1"
          d="M137,59a0.65,0.65,0,0,1-.2-1.27l9.55-3A0.65,0.65,0,1,1,146.7,56l-9.55,3A0.66,0.66,0,0,1,137,59Z"
        ></path>
        <path
          class="cls-1"
          d="M115.76,29.12a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,1,.78l-6,8A0.65,0.65,0,0,1,115.76,29.12Z"
        ></path>
        <path
          class="cls-1"
          d="M80.52,17.11a0.65,0.65,0,0,1-.65-0.65v-10a0.65,0.65,0,0,1,1.3,0v10A0.65,0.65,0,0,1,80.52,17.11Z"
        ></path>
        <path
          class="cls-1"
          d="M22.37,59a0.62,0.62,0,0,1-.2,0l-9.55-3A0.65,0.65,0,1,1,13,54.77l9.55,3A0.65,0.65,0,0,1,22.37,59Z"
        ></path>
        <path
          class="cls-1"
          d="M12.82,97.9a0.65,0.65,0,0,1-.19-1.27l9.55-3a0.65,0.65,0,1,1,.39,1.24l-9.55,3A0.61,0.61,0,0,1,12.82,97.9Z"
        ></path>
        <path
          class="cls-1"
          d="M43.58,29.12a0.65,0.65,0,0,1-.52-0.26l-6-8a0.65,0.65,0,0,1,1-.78l6,8A0.65,0.65,0,0,1,43.58,29.12Z"
        ></path>
        <path
          class="cls-1"
          d="M37.56,132.82a0.65,0.65,0,0,1-.52-1l6-8a0.65,0.65,0,0,1,.91-0.13,0.65,0.65,0,0,1,.13.91l-6,8A0.65,0.65,0,0,1,37.56,132.82Z"
        ></path>
      </svg>
    </div>
  -->
</ion-content>
