page-offer-receive {
  .scroll-content {
    overflow: hidden !important;
  }

  .offer-position-container {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // top: 0;
    width: 157px;
    height: 157px;
    border-radius: 100px;
    background-size: cover;
    margin-bottom: 16px;

    h1 {
      font: unset !important;
      margin: 0;
      font-size: 1.7em !important;
      font-weight: bold !important;
      color: #fff !important;
    }
  }

  .message-container {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    h1 {
      // position: relative;
      // top: calc(1% - 90px);
      color: map-get($colors, primary);
      margin: 0;
      line-height: 1;
      font-size: 2.3em;
      font-weight: 900;
    }

    h4 {
      margin: 10px 10px 25px 10px;
      line-height: 1;
      font-size: 1.5em;
      text-align: center;
    }
    p {
      margin: 0 32px;
      text-align: center;
      font-family: Nunito;
      font-size: 1em;
    }

    .eula-file-btn {
      margin: 10px 0;

      font-family: Nunito;
      font-weight: 700;
      font-size: 1em;
      color: map-get($colors, primary);

      ion-icon {
        margin-right: 10px;
        font-size: 1.3em;
      }
    }

    .offer-accept-btn {
      width: 100%;
      margin-top: 25px;
      padding: 10px 0;
      border-radius: 10px;

      font-family: Nunito;
      font-size: 1.2em;
      font-weight: 700;
      color: white;

      background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));
    }
  }

  // * {
  //   box-sizing: border-box;
  // }
  // span.svg {
  //   display: block;
  //   margin: auto;
  //   width: 10%;
  //   height: 10vh;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   svg {
  //     width: 100px;
  //     height: 100px;
  //     max-width: 100px;
  //   }
  // }
  // @keyframes fireworkone {
  //   0% {
  //     opacity: 0;
  //   }
  //   25% {
  //     opacity: 0.15;
  //   }
  //   50% {
  //     opacity: 0.1;
  //   }
  //   75% {
  //     opacity: 0.15;
  //   }
  //   100% {
  //     opacity: 0;
  //   }
  // }
  // @keyframes fireworktwo {
  //   0% {
  //     opacity: 0;
  //   }
  //   25% {
  //     opacity: 0.15;
  //   }
  //   50% {
  //     opacity: 0.2;
  //   }
  //   75% {
  //     opacity: 0.15;
  //   }
  //   100% {
  //     opacity: 0;
  //   }
  // }
  // @keyframes fireworthree {
  //   0% {
  //     opacity: 0;
  //   }
  //   25% {
  //     opacity: 0.3;
  //   }
  //   50% {
  //     opacity: 0.2;
  //   }
  //   75% {
  //     opacity: 0.3;
  //   }
  //   100% {
  //     opacity: 0;
  //   }
  // }

  // .firework-icon .cls-1,
  // .firework-icon .cls-2,
  // .firework-icon .cls-3 {
  //   opacity: 0;
  //   animation-duration: 1.5s;
  //   animation-iteration-count: infinite;
  // }

  // .firework-icon .cls-3 {
  //   animation-name: fireworthree;
  //   animation-delay: 0.11s;
  // }

  // .firework-icon .cls-2 {
  //   animation-name: fireworktwo;
  //   animation-delay: 0.41s;
  // }

  // .firework-icon .cls-1 {
  //   animation-name: fireworkone;
  //   animation-delay: 0.71s;
  // }

  // @keyframes elastic-pulse {
  //   0% {
  //     transform: scale(0.1);
  //   }
  //   100% {
  //     transform: scale(0.7);
  //   }
  // }

  // .img-firework {
  //   animation-duration: 1.5s;
  //   animation-iteration-count: infinite;
  //   animation-name: elastic-pulse;
  //   animation-delay: 0s;
  // }
}
