<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>My Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- OFFERS HEADER -->
    <ion-list-header class="job-list-header">
      Offers <ion-icon name="ios-arrow-down-outline" class="applied-btn"></ion-icon>
    </ion-list-header>
    <ion-item class="job-list-item" (click)="toOffer()">
      <div class="job-label-ribbon part-time">PART-TIME</div>
      <ion-item class="job-list-partner">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-starbucks.png" /> </ion-avatar>
        <h2>Junior Barista</h2>
        <p>Starbucks Company</p>
      </ion-item>
      <!-- ABSOLUTE -->
      <ion-icon name="ios-mail-outline" class="applied-btn"></ion-icon>
    </ion-item>

    <!-- APPLIED HEADER -->
    <ion-list-header class="job-list-header">
      Applied <ion-icon name="ios-arrow-down-outline" class="applied-btn"></ion-icon>
    </ion-list-header>
    <ion-item class="job-list-item" (click)="toDetails('freelance')">
      <div class="job-label-ribbon freelance">FREELANCE</div>
      <ion-item class="job-list-partner">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-medium.png" /> </ion-avatar>
        <h2>Content Writer</h2>
        <p>Medium</p>
      </ion-item>
    </ion-item>

    <ion-item class="job-list-item" (click)="toDetails('volunteer')">
      <div class="job-label-ribbon volunteer">VOLUNTEER</div>
      <ion-item class="job-list-partner">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-tia.png" /> </ion-avatar>
        <h2>Liaison Officer</h2>
        <p>Tech in Asia</p>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
