page-details-volunteer {
  .work-hour-container {
    background: linear-gradient(
      0.25turn,
      map-get($colors, red-primary),
      map-get($colors, red-secondary)
    ) !important;
  }

  .work-days-container ul .active {
    color: map-get($colors, red-primary) !important;
    border: 1px solid map-get($colors, red-primary) !important;
  }
}
