<ion-header no-border>
  <ion-navbar> <ion-title>Details</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="volunteerJobs != null && company != null">
    <h3>{{ volunteerJobs.role }}</h3>
    <p>
      Posted on <span class="posted-date">{{ showDate(volunteerJobs.datePosted) }}</span>
    </p>
    <ion-item class="job-list-partner">
      <ion-avatar item-start
        ><img
          src="{{company.logo}}"
          (load)="loaded = true"
          [ngClass]="{ 'img-loaded': loaded }"
          [hidden]="!loaded"
        />
      </ion-avatar>
      <h2>{{ company.companyName }}</h2>
      <p>{{ company.location }}</p>
    </ion-item>

    <div class="work-days-container">
      <ul>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['sunday'] }">S</li>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['monday'] }">M</li>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['tuesday'] }">T</li>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['wednesday'] }">W</li>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['thursday'] }">T</li>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['friday'] }">F</li>
        <li [ngClass]="{ active: volunteerJobs.schedules.volunteerDay['saturday'] }">S</li>
      </ul>
    </div>

    <div class="work-hours-container">
      <div class="work-hour-container">
        <h3>{{ showPeriod(volunteerJobs.schedules.volunteerDate.dateStart) }}</h3>
      </div>
      <div class="separator-container"><h3>till'</h3></div>
      <div class="work-hour-container">
        <h3>{{ showPeriod(volunteerJobs.schedules.volunteerDate.dateEnd) }}</h3>
      </div>
    </div>

    <div class="description-container">
      <p>{{ volunteerJobs.description }}</p>

      <h4>Responsibilities</h4>
      <ul>
        <li *ngFor="let responsibilites of volunteerJobs.responsibilities; let i = index">
          {{ volunteerJobs.responsibilities[i] }}
        </li>
      </ul>
    </div>
    <div *ngIf="!isApplied">
      <button [disabled]="isClicked" (click)="onSuccessApply()" class="apply-btn volunteer-btn">
        <div *ngIf="!isClicked">APPLY</div>
        <ion-spinner *ngIf="isClicked" class="detail-job-spinner" name="crescent"></ion-spinner>
      </button>
    </div>
    <!-- ABSOLUTE -->
    <!--
      <div class="fee-container">
        <h2 class="volunteer-fee">$7</h2>
        <h4>/hour</h4>
      </div>
    -->
  </div>
</ion-content>
