<!--
  <ion-header>

    <ion-navbar>
      <ion-title>auth</ion-title>
    </ion-navbar>

  </ion-header>
-->

<ion-content padding>
  <div class="root-container">
    <!-- <h1 class="login-header">Worklah.</h1> -->
    <div class="logo-container">
      <svg
        class="logo-svg"
        id="fce30cb0-2819-47b3-9cb5-869b606e7366"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 356.26 233.12"
      >
        <defs>
          <linearGradient
            id="2f9b246b-2631-4aaf-a182-c1e068460fa9"
            x1="1442.35"
            y1="-1482"
            x2="1841.66"
            y2="-1716.58"
            gradientTransform="matrix(0.2, 0, 0, -0.2, -101.54, -175.22)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#246db0" />
            <stop offset="1" stop-color="#3fb1c4" />
          </linearGradient>
          <linearGradient
            id="01060e8b-3b5d-4e5e-8e29-ea04033d2bdd"
            x1="679.16"
            y1="-1272.29"
            x2="1146.7"
            y2="-1645.91"
            xlink:href="#2f9b246b-2631-4aaf-a182-c1e068460fa9"
          />
          <linearGradient
            id="6d843f38-8fed-4b99-954f-c2b45ab3da5b"
            x1="2269.86"
            y1="-1400.58"
            x2="1986.37"
            y2="-1236.91"
            xlink:href="#2f9b246b-2631-4aaf-a182-c1e068460fa9"
          />
        </defs>
        <title>logo-worklah</title>
        <g id="808539e8-adb5-489d-afed-9164c782953e" data-name="Layer_1">
          <path
            d="M275.42,228.76h0a32.38,32.38,0,0,0,11.8-44.19L222.43,72.19c-8.8-15.4-28.8-20.6-44.19-11.8h0a32.37,32.37,0,0,0-11.8,44.19L231.23,217A32.33,32.33,0,0,0,275.42,228.76Z"
            transform="translate(-0.1 -0.04)"
            fill="url(#2f9b246b-2631-4aaf-a182-c1e068460fa9)"
          />
          <path
            d="M16.26,4.4h0a32.34,32.34,0,0,1,44.2,11.8l97.18,168.37a32.38,32.38,0,0,1-11.8,44.19h0A32.33,32.33,0,0,1,101.65,217L4.47,48.59A32.33,32.33,0,0,1,16.26,4.4Z"
            transform="translate(-0.1 -0.04)"
            fill="url(#01060e8b-3b5d-4e5e-8e29-ea04033d2bdd)"
          />
          <path
            d="M340.21,60.39A32.43,32.43,0,1,0,352,104.58,32.37,32.37,0,0,0,340.21,60.39Z"
            transform="translate(-0.1 -0.04)"
            fill="url(#6d843f38-8fed-4b99-954f-c2b45ab3da5b)"
          />
          <path
            d="M278.42,226.76c13-9.8,17.2-28,8.8-42.19l-28-48.59-28,48.59a32.38,32.38,0,0,0,8.6,42.19,32.29,32.29,0,0,0,38.59,0Z"
            transform="translate(-0.1 -0.04)"
            fill="#fefefe"
            fill-opacity="0.5"
          />
          <path
            d="M148.84,226.76a32.66,32.66,0,0,0,8.8-42.19l-28-48.59-28.19,48.59a32.66,32.66,0,0,0,8.8,42.19,35.12,35.12,0,0,0,19.39,6.4A35,35,0,0,0,148.84,226.76Z"
            transform="translate(-0.1 -0.04)"
            fill="#fefefe"
            fill-opacity="0.5"
          />
          <path
            d="M213.63,62.39a32.66,32.66,0,0,1,8.8,42.19l-28,48.59-28-48.59A32.38,32.38,0,0,1,175,62.39a33.12,33.12,0,0,1,38.59,0Z"
            transform="translate(-0.1 -0.04)"
            fill="#fefefe"
            fill-opacity="0.5"
          />
        </g>
      </svg>
    </div>

    <ion-segment mode="md" class="auth-segment" [(ngModel)]="auth">
      <ion-segment-button value="sign-in" class="auth-segment-btn"> Sign In </ion-segment-button>
      <ion-segment-button value="sign-up" class="auth-segment-btn"> Sign Up </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="auth">
      <div *ngSwitchCase="'sign-in'">
        <ion-item class="form-item">
          <ion-icon item-start name="ios-person-outline" class="form-icon"></ion-icon>
          <ion-input [(ngModel)]="signIn.username" type="text" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-icon item-start name="ios-key-outline" class="form-icon"></ion-icon>
          <ion-input
            [(ngModel)]="signIn.password"
            type="password"
            placeholder="Password"
          ></ion-input>
        </ion-item>

        <div class="auth-btn-container">
          <button (click)="onSignIn()" class="sign-in-btn">SIGN IN</button>
          <button (click)="onSignInWithGoogle()" class="sign-in-btn google-btn">
            SIGN IN WITH GOOGLE
          </button>
        </div>
        <button class="forgot-password-btn">Forgot Password?</button>
      </div>

      <div *ngSwitchCase="'sign-up'">
        <ion-item class="form-item">
          <ion-icon item-start name="ios-mail-outline" class="form-icon"></ion-icon>
          <ion-input [(ngModel)]="signUp.email" type="text" placeholder="Email"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-icon item-start name="ios-person-outline" class="form-icon"></ion-icon>
          <ion-input [(ngModel)]="signUp.username" type="text" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item class="form-item">
          <ion-icon item-start name="ios-key-outline" class="form-icon"></ion-icon>
          <ion-input
            [(ngModel)]="signUp.password"
            type="password"
            placeholder="Password"
          ></ion-input>
        </ion-item>

        <div class="auth-btn-container">
          <button (click)="onSignUp()" class="sign-in-btn">SIGN UP</button>
          <button (click)="onSignUp()" class="sign-in-btn google-btn">SIGN UP WITH GOOGLE</button>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-container">
    <p class="copyright-footer">Copyright © 2018 A-Onegaishimasu. All Rights Reserved</p>
  </div>
</ion-content>
