page-auth {
  .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;

    .logo-svg {
      height: 100%;
      width: auto;
    }
  }

  .scroll-content {
    overflow: hidden !important;
  }

  .root-container {
    height: 95%;
    padding-top: 5vh;
  }

  .login-header {
    font-weight: 900;
    font-size: 2em;
  }

  .auth-segment {
    border-radius: 10px;
    overflow: hidden;
    margin: 5vh 0 30px 0;
  }

  .segment-md .segment-button {
    // font-family: Nunito;
    color: lightgrey;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    border-bottom-width: 0;
    line-height: 2.7rem;
    height: unset;
  }

  .segment-button.segment-activated {
    color: black;
    // background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));
  }

  .segment-button.segment-activated::after {
    content: ' ';
    display: block;
    background: #000;
    height: 2px;
    width: 33%;
  }

  .form-item {
    padding-left: 0;
    margin: 10px 0;
  }

  .form-icon {
    font-size: 1.5em;
    color: lightgrey;
  }

  .item-inner {
    margin-left: 13px !important;
  }

  .text-input-md {
    margin: 13px 0 !important;
  }

  .auth-btn-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-top: 30px;
  }

  .sign-in-btn {
    margin: 8px 0;
    padding: 10px 0;
    border-radius: 10px;

    font-family: Nunito;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: black;
  }

  .google-btn {
    background-color: #cc181e;
  }

  .forgot-password-btn {
    margin-top: 16px;
    font-family: Nunito;
    font-weight: 400;
    font-size: 1em;
    text-decoration: underline;
    color: black;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;

    p {
      margin: 0;
      font-size: 0.9em;
      text-align: center;
    }
  }
}
