page-profile,
page-connection-profile,
page-people-search {
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 3vh;

    img {
      width: 40px;
      height: 40px;
      border-radius: 100px;
      object-fit: cover;
      border: 2px solid black;
    }

    h3 {
      font-family: Nunito;
      font-weight: 900;
      color: black;
      margin: 20px 0 0 0;
      font-size: 2em;
    }

    .star-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      width: 100%;
      .star-icon {
        margin-right: 5px;
      }
    }

    .no-rating-ribbon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border-radius: 10px;

      font-family: Nunito;
      font-size: 1em;
      font-weight: 700;
      color: black;
      background: #ddd;
    }
  }

  .profile-segment {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid map-get($colors, primary);
    margin: 5px 0;
  }

  .segment-md .segment-button {
    font-family: Nunito;
    font-weight: 700;
    font-size: 0.8em;
    border-bottom-width: 0;
    line-height: 2.7rem;
    height: unset;
  }

  .segment-button.segment-activated {
    color: white;
    background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));
  }

  .list-header {
    font-size: 1em;
    font-weight: 400;
    padding-top: 1rem;
    margin: 0;
  }

  .review-list-item {
    padding-left: 10px;
    align-items: flex-start;
    border-bottom: 1px solid #eee;

    ion-avatar {
      img {
        margin-top: 5px;
      }
    }

    h2 {
      color: map-get($colors, primary);
    }

    p {
      color: black;
      font-size: 0.9em;
    }
  }

  .points-given-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 2px 2px;
    margin-bottom: 5px;
    border-radius: 8px;

    font-family: Nunito;
    font-size: 0.7em;
    font-weight: 700;
    color: white;
    background: linear-gradient(
      0.25turn,
      map-get($colors, green-primary),
      map-get($colors, green-secondary)
    );

    .star-given-icon {
      font-size: 0.8em;
      margin: 0 0 3px 2px;
    }
  }

  .cv-file-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5vw 5vw 0 0;

    font-family: Nunito;
    font-weight: 700;
    font-size: 1em;
    color: map-get($colors, primary);

    ion-icon {
      margin-right: 10px;
      font-size: 1.3em;
    }
  }
}
