<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-container">
    <img src="../../assets/imgs/avatar-default.jpg"  *ngIf="ppimage == ''" (click)="changePic()"/>
    <img src="{{ppimage}}"  *ngIf="ppimage != ''" (click)="changePic()"/>
    <h3 (click)="changeName()">{{username}}</h3>
    <div class="star-container">
      <!-- IF NO RATINGS YET -->
      <div *ngIf="star == 0" class="no-rating-ribbon">No ratings.</div>

      <div *ngIf="star != 0">
        <ion-icon name="md-star" class="star-icon" *ngFor="let star of starfull"></ion-icon>
        <ion-icon name="md-star-half" class="star-icon" *ngIf="starhalf"></ion-icon>
        <ion-icon name="md-star-outline" class="star-icon" *ngFor="let stars of starblank"></ion-icon>
      </div>
    </div>
  </div>
  <ion-segment mode="md" class="profile-segment" [(ngModel)]="section">
    <ion-segment-button value="reviews" class="profile-segment-btn"> Reviews </ion-segment-button
    ><ion-segment-button value="endorsements" class="profile-segment-btn">
      Endorsements
    </ion-segment-button>
    <ion-segment-button value="connections" class="profile-segment-btn">
      Connections
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="section">
    <!-- REVIEWS SECTION -->
    <ion-list *ngSwitchCase="'reviews'">
      <h3 class="list-header">{{Reviewnum}} Company Reviews</h3>

      <ion-item text-wrap class="review-list-item" *ngFor="let revv of Reviewlist">
        <ion-avatar item-start> <img src="{{revv.ppimage}}" /> </ion-avatar>
        <h2>{{revv.name}}</h2>
        <div class="points-given-container">
          GAVE {{revv.star}}<ion-icon name="md-star" class="star-given-icon"></ion-icon>
        </div>
        <p>
          {{revv.content}}
        </p>
      </ion-item>
    </ion-list>

    <!-- ENDORSEMENTS SECTION -->
    <ion-list *ngSwitchCase="'endorsements'">
      <h3 class="list-header">{{Endorsenum}} Connection Reviews</h3>
      <ion-item text-wrap class="review-list-item" *ngFor="let rev of Endorselist">
        <ion-avatar item-start> <img src="{{rev.ppimage}}" /> </ion-avatar>
        <h2>{{rev.name}}</h2>
        <p>
          {{rev.endorsment}}
        </p>
      </ion-item>
    </ion-list> 

    <!-- CONNECTIONS SECTION -->
    <ion-list *ngSwitchCase="'connections'">
      <h3 class="list-header">{{friendsnum}} Connections</h3>
      <ion-item class="review-list-item" (click)="toConnectionProfile(friend.key)" *ngFor="let friend of myfriendsdata">
        <ion-avatar item-start> <img src="{{friend.ppimage}}" /> </ion-avatar>
        <h2>{{friend.name}}</h2>
        <!-- <p>mutual connections</p> -->
      </ion-item>
      <!-- <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-dian.png" /> </ion-avatar>
        <h2>Dian Puspita</h2>
        <p>1 mutual connections</p>
      </ion-item>
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-default.jpg" /> </ion-avatar>
        <h2>Kennard Alcander</h2>
        <p>3 mutual connections</p>
      </ion-item>
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-default.jpg" /> </ion-avatar>
        <h2>Vincent Dharma</h2>
        <p>2 mutual connections</p>
      </ion-item>
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-andre.png" /> </ion-avatar>
        <h2>Andre Rusli</h2>
        <p>1 mutual connections</p>
      </ion-item> -->
    </ion-list>
  </div>

  <!-- ABSOLUTE -->

  <button (click)="uploadCV()" class="cv-file-btn">
    <ion-icon name="ios-cloud-upload-outline"></ion-icon>Upload CV
  </button>

  <!--
    <button class="cv-file-btn">
      <ion-icon name="ios-cloud-download-outline"></ion-icon>Download CV
    </button>
  -->
</ion-content>
