<ion-header>
  <ion-navbar> <ion-title>My Jobs</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="error-logo-container">
    <svg
      class="logo-svg"
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 150.73 92.96"
    >
      <defs>
        <style>
          .cls-1,
          .cls-3 {
            fill: none;
            stroke: #b9b9b9;
            stroke-width: 2px;
          }

          .cls-2 {
            fill: #b9b9b9;
          }

          .cls-3 {
            stroke-linecap: round;
          }
        </style>
      </defs>
      <title>Oops</title>
      <g id="Layer_1-2" data-name="Layer_1">
        <circle class="cls-1" cx="96.94" cy="37.12" r="31.47" />
        <circle class="cls-2" cx="81.21" cy="30.68" r="2.5" />
        <circle class="cls-2" cx="113.39" cy="30.68" r="2.5" />
        <path
          class="cls-2"
          d="M94.52,36.48h6.83c2,0,3.58.72,3.58,1.62h0c0,.9-1.6,1.62-3.58,1.62H94.52c-2,0-3.58-.72-3.58-1.62h0C90.94,37.2,92.55,36.48,94.52,36.48Z"
          transform="translate(-0.08 -0.07)"
        />
        <path
          class="cls-3"
          d="M130.28,54c-3.22,11.44-9.65,19.31-20.38,24"
          transform="translate(-0.08 -0.07)"
        />
        <path
          class="cls-3"
          d="M134.93,49.71c0,7.15-1.43,13.59-6.79,19.31"
          transform="translate(-0.08 -0.07)"
        />
        <path
          class="cls-3"
          d="M65.55,57.58C39.09,64,37.3,35.05,52,35.4c7.51,0,8.59,8.59,3.94,10-3.58,1.43-6.08-3.94-2.86-4.65,1.07-.36,2.14.36,2.5,1.79"
          transform="translate(-0.08 -0.07)"
        />
        <path
          class="cls-3"
          d="M67.34,60.79c-11.08,5-24.32,4.65-40.41-1.43"
          transform="translate(-0.08 -0.07)"
        />
        <path
          class="cls-3"
          d="M70.56,62.58C63.05,68.3,53,70.45,40.88,68.66"
          transform="translate(-0.08 -0.07)"
        />
        <g id="_1477338364560" data-name=" 1477338364560">
          <path
            class="cls-3"
            d="M146,4.65c-3.58-1.79-8.94-.36-10,3.93-1.43,4.65.72,8.23,1.08,12.52,3.57-1.79,7.51-3.22,10.73-5.72C151,12.52,150.31,6.79,146,4.65Z"
            transform="translate(-0.08 -0.07)"
          />
          <line class="cls-3" x1="147.72" y1="1" x2="140.22" y2="14.23" />
          <line class="cls-3" x1="143.79" y1="7.44" x2="144.51" y2="12.8" />
          <line class="cls-3" x1="142" y1="11.01" x2="138.43" y2="11.01" />
        </g>
        <g id="_1477338363440" data-name=" 1477338363440">
          <path
            class="cls-3"
            d="M65.55,79.75c-2.86-2.86-8.58-3.58-10.72,0-3.22,3.93-2.51,8.22-3.58,12.16,3.93-.36,8.58-.36,12.16-1.79C67.34,88.69,68.77,83,65.55,79.75Z"
            transform="translate(-0.08 -0.07)"
          />
          <line class="cls-3" x1="68.33" y1="76.81" x2="56.53" y2="86.47" />
          <line class="cls-3" x1="62.61" y1="81.46" x2="61.18" y2="86.83" />
          <line class="cls-3" x1="59.39" y1="84.32" x2="55.82" y2="82.89" />
        </g>
        <g id="_1477338365616" data-name=" 1477338365616">
          <path
            class="cls-3"
            d="M19.78,71.52c-1.43-3.93-6.44-6.43-10-4.29-4.3,2.5-5,6.8-7.87,10,3.93,1.08,7.87,2.87,11.8,3.22C18,80.46,21.57,75.81,19.78,71.52Z"
            transform="translate(-0.08 -0.07)"
          />
          <line class="cls-3" x1="23.63" y1="69.66" x2="8.97" y2="74.31" />
          <line class="cls-3" x1="16.12" y1="72.17" x2="13.26" y2="76.46" />
          <line class="cls-3" x1="12.55" y1="73.24" x2="9.69" y2="70.73" />
        </g>
        <g id="_1477338366608" data-name=" 1477338366608">
          <path
            class="cls-3"
            d="M26.57,37.91c-3.21-1.79-8.94-.36-10,3.57-1.43,4.65.36,8.23.72,12.52,3.57-1.79,7.86-2.86,10.72-5.36C31.58,46.13,30.87,40.05,26.57,37.91Z"
            transform="translate(-0.08 -0.07)"
          />
          <line class="cls-3" x1="28.64" y1="34.26" x2="20.77" y2="47.13" />
          <line class="cls-3" x1="24.71" y1="40.7" x2="25.06" y2="46.06" />
          <line class="cls-3" x1="22.56" y1="43.91" x2="18.98" y2="43.91" />
        </g>
      </g>
    </svg>
    <h3>You've got no job for the moment.</h3>
  </div>
</ion-content>
