page-no-job {
  .error-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;

    .logo-svg {
      height: 25%;
      width: auto;
    }

    h3 {
      text-align: center;
      color: #b9b9b9;
      font-size: 1.3em;
      font-weight: 900;
      margin: 32px 80px;
    }
  }
}
