<ion-header no-border>
  <ion-navbar> <ion-title>Details</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="freelanceJobs != null && company != null">
    <h3>{{ freelanceJobs.role }}</h3>
    <p>
      Posted on <span class="posted-date">{{ showDate(freelanceJobs.datePosted) }}</span>
    </p>
    <ion-item class="job-list-partner">
      <ion-avatar item-start>
        <img
          src="{{company.logo}}"
          (load)="loaded = true"
          [ngClass]="{ 'img-loaded': loaded }"
          [hidden]="!loaded"
        />
      </ion-avatar>
      <h2>{{ company.companyName }}</h2>
      <p>{{ company.location }}</p>
    </ion-item>

    <div class="work-hours-container">
      <div class="work-hour-container"><h3>Weekly Deadline</h3></div>
      <div class="work-hour-container freelance-deadline">
        <h3>on {{ showWeeklyDeadline(freelanceJobs.schedules.weeklyDeadline) }}</h3>
      </div>
      <!-- <div class="separator-container"><h3>Every Monday</h3></div> -->
    </div>

    <div class="description-container">
      <p>{{ freelanceJobs.description }}</p>

      <h4>Responsibilities</h4>
      <ul>
        <li *ngFor="let responsibilites of freelanceJobs.responsibilities; let i = index">
          {{ freelanceJobs.responsibilities[i] }}
        </li>
      </ul>
    </div>
    <div *ngIf="!isApplied">
      <button [disabled]="isClicked" (click)="onSuccessApply()" class="apply-btn freelance-btn">
        <div *ngIf="!isClicked">APPLY</div>
        <ion-spinner *ngIf="isClicked" class="detail-job-spinner" name="crescent"></ion-spinner>
      </button>
    </div>
    <!-- ABSOLUTE -->
    <div class="fee-container">
      <h2 class="freelance-fee">${{ freelanceJobs.salary }}</h2>
      <h4>/content</h4>
    </div>
  </div>
</ion-content>
