page-details-freelance {
  .work-hours-container {
    margin-top: 5px;
  }

  .work-hour-container {
    background: linear-gradient(
      0.25turn,
      map-get($colors, green-primary),
      map-get($colors, green-secondary)
    ) !important;
  }

  .freelance-deadline {
    background: white !important;
    h3 {
      color: map-get($colors, green-primary) !important;
    }
  }
}
