<ion-tabs mode="md" class="tabs" tabsPlacement="bottom">
  <ion-tab
    tabTitle="Jobs"
    tabIcon="ios-briefcase-outline"
    [root]="jobSearch"
    [rootParams]="data"
  ></ion-tab>
  <ion-tab
    *ngIf="keyword"
    tabTitle="People"
    tabIcon="ios-contacts-outline"
    [root]="peopleSearch"
    [rootParams]="data"
  ></ion-tab>
</ion-tabs>
