page-my-part-time,
page-my-freelance,
page-my-volunteer,
page-apply-offers {
  .scroll-content {
    overflow: hidden !important;
  }

  .my-job-root-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #f7f7f7;
    padding: 25px 16px;

    .my-job-details {
      display: flex;
      flex-direction: column;
      width: 90%;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 0 3px 30px #ccc;
      padding: 35px 10px 10px 10px;
      margin-top: 8%;
      background-color: #fff;

      img {
        position: absolute;
        top: 0;
        width: 65px;
        height: 65px;
        border-radius: 100px;
        object-fit: cover;
        margin: 5% auto;
        // border: 5px solid rgba($color: #000, $alpha: 0.3);
      }

      h3,
      p {
        margin: 0;
      }

      h3 {
        font-weight: 700;
        font-size: 1.5em;
      }

      p {
        font-size: 1em;
      }
    }

    .terminate-btn {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;

      font-family: Nunito;
      font-size: 1em;
      font-weight: 700;
      background: transparent;
      color: map-get($colors, red-primary);

      ion-icon {
        position: relative;
        top: 2px;
        margin-right: 10px;
        font-size: 1.3em;
      }
    }
  }
}

.fee-details {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px dashed #ddd;
  padding-top: 10px;
  margin-top: 10px;

  h2 {
    font-family: Nunito;
    font-weight: 900;
    color: map-get($colors, primary);
    font-size: 1.5em;
    margin: 0;
  }

  h4 {
    font-family: Nunito;
    font-weight: 400;
    color: black;
    font-size: 1em;
    margin: 5px 0 0 0;
  }
}

.work-day-container {
  display: flex;
  // flex: 1;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 15px;
  box-shadow: 0 3px 30px #ccc;
  padding: 10px 16px;
  margin-top: 3%;
  background-color: #fff;

  .work-day-details {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 8px 0;

    .work-day-ribbon {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      font-family: Nunito;
      font-weight: 700;
      font-size: 0.8em;
      background: linear-gradient(0.25turn, #ccc, #eee);
      color: #aaa;
    }

    .current-day {
      background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));

      color: white;
    }

    .work-day-insights {
      margin-left: 10px;

      p,
      h4 {
        margin: 0;
      }

      p {
        font-size: 0.8em;
      }

      h4 {
        font-size: 1.2em;
      }
    }
  }
}
