<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>My Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="company != undefined" class="my-job-root-container">
    <div class="my-job-details">
      <img src="{{company.logo}}" />
      <h3>{{ partTime.role }}</h3>
      <p>@ {{ company.companyName }}</p>
      <div class="fee-details">
        <h2>{{ partTime.salary }}</h2>
        <h4>/hour</h4>
      </div>
    </div>
    <div class="work-day-container">
      <div class="work-day-details">
        <div class="work-day-ribbon current-day">26</div>
        <div class="work-day-insights">
          <p>Monday</p>
          <h4>8:00 - 17:00</h4>
        </div>
      </div>
      <div class="work-day-details">
        <div class="work-day-ribbon">28</div>
        <div class="work-day-insights">
          <p>Wednesday</p>
          <h4>8:00 - 17:00</h4>
        </div>
      </div>
      <div class="work-day-details">
        <div class="work-day-ribbon">29</div>
        <div class="work-day-insights">
          <p>Thursday</p>
          <h4>8:00 - 17:00</h4>
        </div>
      </div>
    </div>

    <button (click)="onTerminate(applyJobKey, jobID)" class="terminate-btn">
      <ion-icon name="ios-close-circle-outline"></ion-icon>Stop Working Here
    </button>
  </div>
</ion-content>
