page-my-volunteer {
  .volunteer-day {
    background: unset !important;
    border: 1px solid map-get($colors, red-primary);
    color: map-get($colors, red-primary) !important;
    margin-left: 10px;
  }

  .volunteer-date {
    background: linear-gradient(
      0.25turn,
      map-get($colors, red-primary),
      map-get($colors, red-secondary)
    ) !important;
    color: white !important;
  }
}
