<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>My Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="company != undefined" class="my-job-root-container">
    <div class="my-job-details">
      <img src="{{company.logo}}" />
      <h3>{{ volunteer.role }}</h3>
      <p>@ {{ company.companyName }}</p>
    </div>
    <div class="work-day-container">
      <div class="work-day-details">
        <div class="work-day-ribbon volunteer-date">19</div>
        <div class="work-day-ribbon volunteer-day">W</div>
        <div class="work-day-insights">
          <p>September</p>
          <h4>6:00 - 20:00</h4>
        </div>
      </div>
      <div class="work-day-details">
        <div class="work-day-ribbon volunteer-date">20</div>
        <div class="work-day-ribbon volunteer-day">T</div>
        <div class="work-day-insights">
          <p>September</p>
          <h4>9:00 - 20:00</h4>
        </div>
      </div>
      <div class="work-day-details">
        <div class="work-day-ribbon volunteer-date">21</div>
        <div class="work-day-ribbon volunteer-day">F</div>
        <div class="work-day-insights">
          <p>September</p>
          <h4>9:00 - 21:00</h4>
        </div>
      </div>
    </div>

    <button (click)="onTerminate(applyJobKey, jobID)" class="terminate-btn">
      <ion-icon name="ios-close-circle-outline"></ion-icon>Stop Working Here
    </button>
  </div>
</ion-content>
