page-my-freelance {
  .fee-details h2 {
    color: map-get($colors, green-primary);
  }

  .deadline-container {
    display: flex;
    // flex: 1;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    align-items: flex-start;
    border-radius: 15px;
    box-shadow: 0 3px 30px #ccc;
    margin-top: 3%;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 16px;

    .deadline-period-container {
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 13px 0;
      background: linear-gradient(
        0.25turn,
        map-get($colors, green-primary),
        map-get($colors, green-secondary)
      );

      h3,
      h4 {
        margin: 0;
        color: white;
      }

      h3 {
        font-weight: 700;
        font-size: 1.3em;
      }
      h4 {
        font-size: 1em;
      }
    }

    .days-remaining-container {
      flex: 5;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;

      h1,
      h3,
      h4 {
        margin: 0;
      }

      h1 {
        font-weight: 700;
        font-size: 8em;
        color: map-get($colors, green-primary);
      }

      h3 {
        font-weight: 700;
        font-size: 2em;
      }
      h4 {
        font-size: 1em;
        font-weight: 300;
        font-family: unset;
      }
    }
  }
}
