<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>My Jobs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="company != undefined" class="my-job-root-container">
    <div class="my-job-details">
      <img src="{{company.logo}}" />
      <h3>{{ freelance.role }}</h3>
      <p>@ {{ company.companyName }}</p>
      <div class="fee-details">
        <h2>{{ freelance.salary }}</h2>
        <h4>/content</h4>
      </div>
    </div>
    <div class="deadline-container">
      <div class="deadline-period-container">
        <h3>Weekly Deadline</h3>
        <h4>Every Monday</h4>
      </div>
      <div class="days-remaining-container">
        <h1>7</h1>
        <h3>days</h3>
        <h4>remaining</h4>
      </div>
    </div>

    <button (click)="onTerminate(applyJobKey, jobID)" class="terminate-btn">
      <ion-icon name="ios-close-circle-outline"></ion-icon>Stop Working Here
    </button>
  </div>
</ion-content>
