page-home,
page-job-search,
page-people-search,
page-apply-offers {
  h3 {
    margin-bottom: 0;
  }

  .searchbar-md .searchbar-input {
    box-shadow: none;
    border-radius: 100px;
    background-color: #f7f7f7;
    // border: 2px solid #eee;
  }

  .searchbar-clear-icon {
    display: none !important;
  }
  ion-spinner {
    display: block;
    margin: 20px auto;
    &.spinner-crescent circle {
      stroke: map-get($colors, primary);
    }
  }
  .job-list-item {
    border-bottom: 1px solid #eee;

    .job-label-ribbon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;

      font-family: Nunito;
      font-weight: 700;
      font-size: 0.5em;
      color: white;

      padding: 2px 7px;
      border-radius: 10px;
    }
    .img-loaded + ion-spinner {
      display: none;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .job-label-ribbon.part-time {
      background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));
    }

    .job-label-ribbon.freelance {
      background: linear-gradient(
        0.25turn,
        map-get($colors, green-primary),
        map-get($colors, green-secondary)
      );
    }

    .job-label-ribbon.volunteer {
      background: linear-gradient(
        0.25turn,
        map-get($colors, red-primary),
        map-get($colors, red-secondary)
      );
    }

    h3 {
      font-size: 1.5em;
      font-weight: 700;
    }

    p {
      color: map-get($colors, lightgrey);
      font-size: 0.7em;
    }

    .work-day-info {
      color: #ddd;
    }

    .work-day {
      color: map-get($colors, primary);
    }

    .posted-date {
      font-weight: 400;
      color: map-get($colors, dark);
    }

    .job-list-partner {
      padding-left: 0;
    }

    .applied-btn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      margin: 15px 10px;

      font-size: 2em;
      color: map-get($colors, green-primary);
    }

    .job-range-ribbon {
      position: absolute;
      top: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;

      font-family: Nunito;
      font-weight: 700;
      font-size: 0.5em;
      color: map-get($colors, primary);

      padding: 1.3px 7px;
      border-radius: 10px;
      border: 1px solid map-get($colors, primary);
    }

    .job-range-ribbon.part-time {
      left: 25%;
    }
    .job-range-ribbon.freelance {
      left: 26%;
    }
    .job-range-ribbon.volunteer {
      left: 26.5%;
    }
  }
}

.blur {
  color: map-get($colors, lightgrey);
  font-weight: 400;
  margin-right: 10px;
}

.map-icon,
.map-info-container {
  color: map-get($colors, primary);
  font-weight: 700;
}

.map-info-container {
  font-weight: 700;
  padding-left: 0;
}

.map-icon {
  font-size: 1.8em;
}

.item-md.item-block .item-inner {
  border-bottom: 0;
}

.card-slides-container {
  display: flex;
  flex-direction: column;
  height: unset;
  overflow: show;

  .swiper-pagination-bullet {
    background: #fff;
  }

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
}
