<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-searchbar
      class="search-bar"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (search)="onInput($event)"
      (ionClear)="onClear($event)"
    >
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Browse Jobs.</h3>

  <button (click)="onClickNearMe()" ion-item class="map-info-container">
    <button ion-item class="map-info-container" (click)="presentPrompt()">
      <span class="blur">Near</span>
      <button *ngIf="coordinates != null" (click)="getCurrentLocation()" item-end>
        <ion-icon name="ios-compass-outline" class="map-icon"> </ion-icon>
      </button>
      <!-- <ion-spinner *ngIf="coordinates == null" name="crescent"></ion-spinner> -->
      {{ location }}
    </button>
  </button>

  <ion-slides *ngIf="!data.searchValInput" pager class="card-slides-container">
    <ion-slide (click)="onClickCategory('F&B')">
      <ion-card>
        <img src="../../assets/imgs/card-fnb.png" />
        <div class="card-title">Food and Beverage</div>
        <div class="card-subtitle">{{ getTotalJobByCategory('foodnBev') }} Jobs Available</div>
      </ion-card>
    </ion-slide>
    <ion-slide (click)="onClickCategory('Writing')">
      <ion-card>
        <img src="../../assets/imgs/card-writing.png" />
        <div class="card-title">Writing</div>
        <div class="card-subtitle">{{ getTotalJobByCategory('writing') }} Jobs Available</div>
      </ion-card>
    </ion-slide>
    <ion-slide (click)="onClickCategory('TechProject')">
      <ion-card>
        <img src="../../assets/imgs/card-tech-project.png" />
        <div class="card-title">Tech Project</div>
        <div class="card-subtitle">{{ getTotalJobByCategory('techProject') }} Jobs Available</div>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-list mode="md">
    <div *ngFor="let jobKey of jobKeys; let idx = index">
      <ion-item
        *ngIf="jobs != null && companies != null && jobs[jobKey].type == 'part-time'"
        class="job-list-item"
        (click)="toDetails('part-time', jobKey, isApplied(jobKey))"
      >
        <div class="job-label-ribbon part-time">{{ jobs[jobKey].type.toUpperCase() }}</div>
        <h3>{{ jobs[jobKey].role }}</h3>
        <p>
          Posted on <span class="posted-date">{{ showDate(jobs[jobKey].datePosted) }}</span>
        </p>
        <ion-item class="job-list-partner">
          <ion-avatar item-start>
            <img
              src="{{companies[jobs[jobKey].companyID].logo}}"
              (load)="loaded[idx] = true"
              [ngClass]="{ 'img-loaded': loaded[idx] }"
              [hidden]="!loaded[idx]"
            />

            <ion-spinner
              [ngClass]="{ center: true }"
              *ngIf="!loaded[idx]"
              name="crescent"
            ></ion-spinner>
          </ion-avatar>

          <h2>{{ companies[jobs[jobKey].companyID].companyName }}</h2>
          <p>{{ companies[jobs[jobKey].companyID].location }}</p>

          <p class="work-day-info">
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['sunday'] }">S</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['monday'] }">M</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['tuesday'] }">T</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['wednesday'] }">W</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['thursday'] }">T</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['friday'] }">F</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['saturday'] }">S</span>
          </p>
        </ion-item>
        <!-- ABSOLUTE -->
        <ion-icon
          *ngIf="isApplied(jobKey)"
          name="ios-checkmark-circle-outline"
          class="applied-btn"
        ></ion-icon>
        <div *ngIf="data.searchValInput" class="job-range-ribbon freelance">
          {{ jobs[jobKey].distance.toFixed(1) }} KM
        </div>
      </ion-item>

      <ion-item
        *ngIf="jobs != null && companies != null && jobs[jobKey].type == 'freelance'"
        class="job-list-item"
        (click)="toDetails('freelance', jobKey, isApplied(jobKey))"
      >
        <div class="job-label-ribbon freelance">{{ jobs[jobKey].type.toUpperCase() }}</div>
        <h3>{{ jobs[jobKey].role }}</h3>
        <p>
          Posted on <span class="posted-date">{{ showDate(jobs[jobKey].datePosted) }}</span>
        </p>
        <ion-item class="job-list-partner">
          <ion-avatar item-start>
            <img
              src="{{companies[jobs[jobKey].companyID].logo}}"
              (load)="loaded[idx] = true"
              [ngClass]="{ 'img-loaded': loaded[idx] }"
              [hidden]="!loaded[idx]"
            />

            <ion-spinner
              [ngClass]="{ center: true }"
              *ngIf="!loaded[idx]"
              name="crescent"
            ></ion-spinner>
          </ion-avatar>

          <h2>{{ companies[jobs[jobKey].companyID].companyName }}</h2>
          <p>{{ companies[jobs[jobKey].companyID].location }}</p>

          <!--
            <p class="work-day-info">
              <span class="work-day">S</span> M T W T <span class="work-day">F S</span>
            </p>
          -->
        </ion-item>
        <!-- ABSOLUTE -->
        <ion-icon
          *ngIf="isApplied(jobKey)"
          name="ios-checkmark-circle-outline"
          class="applied-btn"
        ></ion-icon>
        <div *ngIf="data.searchValInput" class="job-range-ribbon freelance">
          {{ jobs[jobKey].distance.toFixed(1) }} KM
        </div>
      </ion-item>

      <ion-item
        *ngIf="jobs != null && companies != null && jobs[jobKey].type == 'volunteer'"
        class="job-list-item"
        (click)="toDetails('volunteer', jobKey, isApplied(jobKey))"
      >
        <div class="job-label-ribbon volunteer">{{ jobs[jobKey].type.toUpperCase() }}</div>
        <h3>{{ jobs[jobKey].role }}</h3>
        <p>
          Posted on <span class="posted-date">{{ showDate(jobs[jobKey].datePosted) }}</span>
        </p>
        <ion-item class="job-list-partner">
          <ion-avatar item-start>
            <img
              src="{{companies[jobs[jobKey].companyID].logo}}"
              (load)="loaded[idx] = true"
              [ngClass]="{ 'img-loaded': loaded[idx] }"
              [hidden]="!loaded[idx]"
            />

            <ion-spinner
              [ngClass]="{ center: true }"
              *ngIf="!loaded[idx]"
              name="crescent"
            ></ion-spinner>
          </ion-avatar>
          <h2>{{ companies[jobs[jobKey].companyID].companyName }}</h2>
          <p>{{ companies[jobs[jobKey].companyID].location }}</p>
          <p class="work-day-info">
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['sunday'] }">S</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['monday'] }">M</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['tuesday'] }"
              >T</span
            >
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['wednesday'] }"
              >W</span
            >
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['thursday'] }"
              >T</span
            >
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['friday'] }">F</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['saturday'] }"
              >S</span
            >
          </p>
        </ion-item>

        <!-- ABSOLUTE -->
        <ion-icon
          *ngIf="isApplied(jobKey)"
          name="ios-checkmark-circle-outline"
          class="applied-btn"
        ></ion-icon>
        <div *ngIf="data.searchValInput" class="job-range-ribbon freelance">
          {{ jobs[jobKey].distance.toFixed(1) }} KM
        </div>
      </ion-item>
    </div>
    <ion-spinner
      *ngIf="jobs == null || companies == null"
      class="job-list-spinner"
      name="crescent"
    ></ion-spinner>
  </ion-list>
</ion-content>
