<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!--
      <ion-searchbar
        class="search-bar"
        [(ngModel)]="myInput"
        [showCancelButton]="shouldShowCancel"
        (search)="onInput($event)"
        (ionClear)="onClear($event)"
      >
      </ion-searchbar>
    -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Find Someone to Connect.</h3>
  <h4>{{ userKeys.length }} results</h4>
  <ion-list>
    <ion-item
      *ngFor="let userKey of userKeys"
      class="review-list-item"
      (click)="toConnectionProfile()"
    >
      <ion-avatar item-start>
        <img
          src="{{users[userKey].image}}"
          (load)="loaded[idx] = true"
          [ngClass]="{ 'img-loaded': loaded[idx] }"
          [hidden]="!loaded[idx]"
        />
        <img
          *ngIf="!loaded[idx] || !users[userKey].image"
          src="../../assets/imgs/avatar-default.jpg"
        />
      </ion-avatar>
      <h2>{{ users[userKey].name }}</h2>
      <p>3 mutual connections</p>
      <button item-end class="connect-btn" (click)="connectTo(); $event.stopPropagation()">
        CONNECT
      </button>
    </ion-item>
    <!--
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-hansen.png" /> </ion-avatar>
        <h2>Hansen Edrick</h2>
        <p>2 mutual connections</p>
        <button item-end class="connect-btn" (click)="connectTo(); $event.stopPropagation()">
          CONNECT
        </button>
      </ion-item>
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-dian.png" /> </ion-avatar>
        <h2>Dian Puspita</h2>
        <p>0 mutual connections</p>
      </ion-item>
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-default.jpg" /> </ion-avatar>
        <h2>Kennard Alcander</h2>
        <p>2 mutual connections</p>
      </ion-item>
      <ion-item class="review-list-item" (click)="toConnectionProfile()">
        <ion-avatar item-start> <img src="../../assets/imgs/avatar-firda.png" /> </ion-avatar>
        <h2>Firdayanti</h2>
        <p>2 mutual connections</p>
    -->
    <!--
      <button item-end class="connect-btn" (click)="connectTo(); $event.stopPropagation()">
        CONNECT
      </button>
    -->
    <!-- </ion-item> --> </ion-list
></ion-content>
