<ion-menu [content]="content">
  <!--
    <ion-header>
      <ion-toolbar> <ion-title>Worklah</ion-title> </ion-toolbar>
    </ion-header>
  -->

  <ion-content>
    <div class="header-container">
      <img src="../assets/imgs/avatar-default.jpg" />
      <h3>Samuel Sandro.</h3>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon> {{ p.title }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
