// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito-Black.woff2');
  font-weight: 900;
}
@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/Nunito-Regular.woff2');
  font-weight: 400;
}

ion-title,
h1,
h3,
h4 {
  font-family: Nunito;
}

h3 {
  font-weight: 900;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}

.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp {
  color: map-get($colors, dark);
  font-weight: 700;
}

.toolbar-background {
  background-color: white;
}

a ion-label,
button ion-label {
  pointer-events: none;
}

.item-md.item-block .item-inner {
  padding-right: 0;
}

.tabs-md .tabbar {
  background: white;
  font-family: Nunito;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px !important;
  background-color: #fff !important;
}

::-webkit-scrollbar {
  width: 10px !important;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
  background-color: #eee !important;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  margin: 0 16px;

  border-bottom: 2px solid #eee;

  img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    object-fit: cover;
    border: 2px solid black;
  }

  h3 {
    font-family: Nunito;
    font-weight: 900;
    color: black;
    margin: 0 10px;
    font-size: 1.7em;
  }
}
