<ion-header no-border>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!--
      <ion-searchbar
        class="search-bar"
        [(ngModel)]="myInput"
        [showCancelButton]="shouldShowCancel"
        (search)="onInput($event)"
        (ionClear)="onClear($event)"
      >
      </ion-searchbar>
    -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Some Jobs You'll Love.</h3>
  <h4>{{ jobKeys.length }} results</h4>

  <ion-list>
    <div *ngFor="let jobKey of jobKeys; let idx = index">
      <ion-item
        *ngIf="jobs != null && companies != null && jobs[jobKey].type == 'part-time'"
        class="job-list-item"
        (click)="toDetails('part-time', jobKey, isApplied(jobKey))"
      >
        <div class="job-label-ribbon part-time">{{ jobs[jobKey].type.toUpperCase() }}</div>
        <h3>{{ jobs[jobKey].role }}</h3>
        <p>
          Posted on <span class="posted-date">{{ showDate(jobs[jobKey].datePosted) }}</span>
        </p>
        <ion-item class="job-list-partner">
          <ion-avatar item-start>
            <img
              src="{{companies[jobs[jobKey].companyID].logo}}"
              (load)="loaded[idx] = true"
              [ngClass]="{ 'img-loaded': loaded[idx] }"
              [hidden]="!loaded[idx]"
            />
            <ion-spinner
              [ngClass]="{ center: true }"
              *ngIf="!loaded[idx]"
              name="crescent"
            ></ion-spinner>
          </ion-avatar>
          <h2>{{ companies[jobs[jobKey].companyID].companyName }}</h2>
          <p>{{ companies[jobs[jobKey].companyID].location }}</p>
          <p class="work-day-info">
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['sunday'] }">S</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['monday'] }">M</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['tuesday'] }">T</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['wednesday'] }">W</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['thursday'] }">T</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['friday'] }">F</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.shiftDay['saturday'] }">S</span>
          </p>
        </ion-item>
        <!-- ABSOLUTE -->
        <ion-icon
          *ngIf="isApplied(jobKey)"
          name="ios-checkmark-circle-outline"
          class="applied-btn"
        ></ion-icon>
        <div class="job-range-ribbon part-time">&lt; 1KM</div>
      </ion-item>
      <ion-item
        *ngIf="jobs != null && companies != null && jobs[jobKey].type == 'freelance'"
        class="job-list-item"
        (click)="toDetails('freelance', jobKey, isApplied(jobKey))"
      >
        <div class="job-label-ribbon freelance">{{ jobs[jobKey].type.toUpperCase() }}</div>
        <h3>{{ jobs[jobKey].role }}</h3>
        <p>
          Posted on <span class="posted-date">{{ showDate(jobs[jobKey].datePosted) }}</span>
        </p>
        <ion-item class="job-list-partner">
          <ion-avatar item-start>
            <img
              src="{{companies[jobs[jobKey].companyID].logo}}"
              (load)="loaded[idx] = true"
              [ngClass]="{ 'img-loaded': loaded[idx] }"
              [hidden]="!loaded[idx]"
            />
            <ion-spinner
              [ngClass]="{ center: true }"
              *ngIf="!loaded[idx]"
              name="crescent"
            ></ion-spinner>
          </ion-avatar>
          <h2>{{ companies[jobs[jobKey].companyID].companyName }}</h2>
          <p>{{ companies[jobs[jobKey].companyID].location }}</p>
          <!--
            <p class="work-day-info">
              <span class="work-day">S</span> M T W T <span class="work-day">F S</span>
            </p>
          -->
        </ion-item>
        <!-- ABSOLUTE -->
        <ion-icon
          *ngIf="isApplied(jobKey)"
          name="ios-checkmark-circle-outline"
          class="applied-btn"
        ></ion-icon>
        <div class="job-range-ribbon part-time">&lt; 1KM</div>
      </ion-item>

      <ion-item
        *ngIf="jobs != null && companies != null && jobs[jobKey].type == 'volunteer'"
        class="job-list-item"
        (click)="toDetails('volunteer', jobKey, isApplied(jobKey))"
      >
        <div class="job-label-ribbon volunteer">{{ jobs[jobKey].type.toUpperCase() }}</div>
        <h3>{{ jobs[jobKey].role }}</h3>
        <p>
          Posted on <span class="posted-date">{{ showDate(jobs[jobKey].datePosted) }}</span>
        </p>
        <ion-item class="job-list-partner">
          <ion-avatar item-start>
            <img
              src="{{companies[jobs[jobKey].companyID].logo}}"
              (load)="loaded[idx] = true"
              [ngClass]="{ 'img-loaded': loaded[idx] }"
              [hidden]="!loaded[idx]"
            />
            <ion-spinner
              [ngClass]="{ center: true }"
              *ngIf="!loaded[idx]"
              name="crescent"
            ></ion-spinner>
          </ion-avatar>
          <h2>{{ companies[jobs[jobKey].companyID].companyName }}</h2>
          <p>{{ companies[jobs[jobKey].companyID].location }}</p>
          <p class="work-day-info">
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['sunday'] }">S</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['monday'] }">M</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['tuesday'] }"
              >T</span
            >
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['wednesday'] }"
              >W</span
            >
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['thursday'] }"
              >T</span
            >
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['friday'] }">F</span>
            <span [ngClass]="{ 'work-day': jobs[jobKey].schedules.volunteerDay['saturday'] }"
              >S</span
            >
          </p>
        </ion-item>
        <ion-icon
          *ngIf="isApplied(jobKey)"
          name="ios-checkmark-circle-outline"
          class="applied-btn"
        ></ion-icon>
        <div class="job-range-ribbon part-time">&lt; 1KM</div>
      </ion-item>
    </div>
    <ion-spinner *ngIf="jobs == null" class="job-list-spinner" name="crescent"></ion-spinner>
  </ion-list>
</ion-content>
