<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-container">
    <img src="{{ppimage}}" />
    <h3>{{name}}</h3>
    <div class="star-container">
      <div>
        <!-- IF NO RATINGS YET -->
        <div *ngIf="star == 0" class="no-rating-ribbon">No ratings.</div>

        <div *ngIf="star != 0">
          <ion-icon name="md-star" class="star-icon" *ngFor="let star of starfull"></ion-icon>
          <ion-icon name="md-star-half" class="star-icon" *ngIf="starhalf"></ion-icon>
          <ion-icon name="md-star-outline" class="star-icon" *ngFor="let stars of starblank"></ion-icon>
        </div>
      </div>

      <button class="connect-btn profile-btn" (click)="connectTo(key)" *ngIf="!isFriend">CONNECT</button>
    </div>
  </div>
  <ion-segment mode="md" class="profile-segment" [(ngModel)]="section">
    <ion-segment-button value="reviews" class="profile-segment-btn"> Reviews </ion-segment-button
    ><ion-segment-button value="endorsements" class="profile-segment-btn">
      Endorsements
    </ion-segment-button>
    <ion-segment-button value="connections" class="profile-segment-btn">
      Connections
    </ion-segment-button>
  </ion-segment> 

  <div [ngSwitch]="section">
    <!-- REVIEWS SECTION -->
    <ion-list *ngSwitchCase="'reviews'">
      <h3 class="list-header">{{Reviewnum}} Company Reviews</h3>

      <ion-item text-wrap class="review-list-item" *ngFor="let revv of Reviewlist">
        <ion-avatar item-start> <img src="{{revv.ppimage}}" /> </ion-avatar>
        <h2>{{revv.name}}</h2>
        <div class="points-given-container">
          GAVE {{revv.star}}<ion-icon name="md-star" class="star-given-icon"></ion-icon>
        </div>
        <p>
          {{revv.content}}
        </p>
      </ion-item>
    </ion-list>
    <!-- ENDORSEMENTS SECTION -->
    <ion-list *ngSwitchCase="'endorsements'">
      <h3 class="list-header">{{Endorsenum}} Connection Reviews</h3>
      <ion-item text-wrap class="review-list-item" *ngFor="let rev of Endorselist">
        <ion-avatar item-start> <img src="{{rev.ppimage}}" /> </ion-avatar>
        <h2>{{rev.name}}</h2>
        <p>
          {{rev.endorsment}}
        </p>
      </ion-item>

      <form #f="ngForm" (ngSubmit)="logEndorse(f)" *ngIf="isFriend">
        <h3 class="list-header">Endorse {{name}}</h3>
        <ion-item class="endorse-textarea">
          <ion-textarea
            style=" height: 70px; resize: none"
            name="desc"
            ngModel
            placeholder="Write what you feel when you are working with this person. For example the best skill and/or personality he/she has."
          ></ion-textarea>
        </ion-item>
        <button class="endorse-btn" type="submit">Endorse</button>
      </form>
    </ion-list>

    <!-- CONNECTIONS SECTION -->
    <ion-list *ngSwitchCase="'connections'">
      <h3 class="list-header">{{thisfriendsnum}} Connections</h3>
      <ion-item class="review-list-item" (click)="toConnectionProfile(friend.key)" *ngFor="let friend of thisfriendsdata; let idx = index">
        <ion-avatar item-start> <img src="{{friend.ppimage}}" /> </ion-avatar>
        <h2>{{friend.name}}</h2>
        <!-- <p>2 mutual connections</p> -->
        <!-- CONNECT BUTTON -->
        <button item-end class="connect-btn" (click)="connectTo(friend.key); $event.stopPropagation()" *ngIf="!checkFriend(friend.key)">
          CONNECT
        </button>
      </ion-item>
    </ion-list>
  </div>

  <!-- ABSOLUTE -->
  <button class="cv-file-btn">
    <ion-icon name="ios-cloud-download-outline"></ion-icon>Download CV
  </button>
</ion-content>
