page-connection-profile,
page-people-search {
  .item-md [item-end] {
    margin: 20px 0 0 0;
  }

  .connect-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    font-family: Nunito;
    font-weight: 700;
    color: map-get($colors, primary);

    padding: 2.5px 5px;
    border-radius: 10px;
    border: 1px solid map-get($colors, primary);
  }

  .profile-btn {
    padding: 5px 8px;
  }

  .endorse-textarea {
    margin: 10px 0;
    padding-left: 0;
    color: black;
  }

  .text-input-md {
    margin: 0;
    height: 100%;
    resize: none;
  }

  .endorse-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    font-family: Nunito;
    font-size: 1em;
    font-weight: 700;
    color: map-get($colors, primary);

    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid map-get($colors, primary);
  }
}
