page-schedule {
  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
  }

  .calendar-container {
    flex: 3;
    padding: 0 16px;
    box-shadow: 0 3px 10px #dcdcdc;
  }

  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 10px 5px;
  }
  .last-month,
  .next-month {
    color: #aaa;
    font-size: 90%;
  }
  .currentDate,
  .otherDate,
  .selectedDate {
    padding: 5px;
    color: black;
  }
  .currentDate {
    font-weight: bold;
    background-color: map-get($colors, primary);
    color: white;
    border-radius: 30px;
    box-shadow: 0 3px 7px #ababab;
  }
  .sundayDate {
    font-weight: bold;
    color: map-get($colors, red-primary);
  }
  .selectedDate {
    font-weight: bold;
    border: 1px solid map-get($colors, primary);
    border-radius: 30px;
  }
  .calendar-header {
    // background-color: #1a732d;
    color: map-get($colors, primary);
  }
  .event-bullet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 100%;
    height: 15px;
    background-color: white;
  }
  .event-bullet {
    height: 5px;
    width: 5px;
    border-radius: 30px;
    margin: 0 2px;
  }
  .pt-bullet {
    background-color: map-get($colors, primary);
  }
  .f-bullet {
    background-color: map-get($colors, green-primary);
  }
  .v-bullet {
    background-color: map-get($colors, red-primary);
  }
  // .selected-date {
  //   width: 20px;
  //   height: 2px;
  //   background-color: blue;
  // }
  // .unselected-date {
  //   border: none;
  // }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday,
    .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      // border-bottom: solid 1px #1a732d;
      // background-color: #26ab56;
    }
    // .calendar-date {
    //   border-top: solid 1px #1a732d;
    //   border-bottom: solid 1px #1a732d;
    // }
  }

  .details-container {
    flex: 1;
    width: 100%;
    z-index: -1;

    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    // background: linear-gradient(0.125turn, map-get($colors, primary), map-get($colors, secondary));

    .details-insight-header {
      flex: 0.8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 16px;

      h1 {
        margin: 0;
        font-size: 1.2em;
        margin-right: 15px;
        font-weight: 700;
        color: map-get($colors, primary);
      }

      p {
        margin: 0;
        font-size: 0.8em;
        color: map-get($colors, primary);
      }
    }

    .details-insight-body {
      flex: 3;
      width: 100%;
      overflow: auto;

      ul {
        height: 80%;
        list-style: none;
        padding: 0;
        display: inline-flex;
        margin: 0;

        .insight-pt {
          .bullet {
            border: 3px solid map-get($colors, primary);
          }
          .details-insight-item {
            p {
              color: map-get($colors, primary);
            }
          }
        }

        .insight-f {
          .bullet {
            border: 3px solid map-get($colors, green-primary);
          }
          .details-insight-item {
            p {
              color: map-get($colors, green-primary);
            }
          }
        }

        .insight-v {
          .bullet {
            border: 3px solid map-get($colors, red-primary);
          }
          .details-insight-item {
            p {
              color: map-get($colors, red-primary);
            }
          }
        }

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 250px;
          height: 100%;
          border-radius: 16px;
          margin: 0 10px;
          background-color: white;
          // box-shadow: 0 0 10px #dcdcdc;

          .bullet {
            top: 0;
            left: 0;
            width: 15px;
            height: 15px;
            border-radius: 7.5px;
            margin-left: 16px;
          }

          // .pt {
          //   border: 3px solid map-get($colors, primary);
          // }
          // .f {
          //   border: 3px solid map-get($colors, green-primary);
          // }

          .details-insight-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 16px;

            h1 {
              font-size: 1.3em;
              margin: 0;
            }

            p {
              margin: 0;
            }
          }
        }

        li:first-child {
          margin-left: 16px;
        }

        li:last-child {
          margin-right: 16px;
        }
      }
    }
  }
  ::-webkit-scrollbar,
  *::-webkit-scrollbar {
    display: none;
  }
}

// ::-webkit-scrollbar {
//   display: none;
// }
