<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="ios-menu-outline"></ion-icon></button>
    <ion-title>My Schedule</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="calendar-container">
    <div class="calendar-header">
      <ion-row class="calendar-month">
        <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
        <ion-col col-8>{{ currentMonth }} {{ currentYear }}</ion-col>
        <ion-col col-2 (click)="goToNextMonth()"
          ><ion-icon name="arrow-forward"></ion-icon
        ></ion-col>
      </ion-row>
    </div>
    <div class="calendar-body">
      <ion-grid>
        <ion-row class="calendar-weekday">
          <ion-col class="sundayDate">Sun</ion-col>
          <ion-col>Mon</ion-col>
          <ion-col>Tue</ion-col>
          <ion-col>Wed</ion-col>
          <ion-col>Thu</ion-col>
          <ion-col>Fri</ion-col>
          <ion-col>Sat</ion-col>
        </ion-row>
        <ion-row class="calendar-date">
          <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">{{
            lastDay
          }}</ion-col>
          <ion-col (click)="selectDate(day)" col-1 *ngFor="let day of daysInThisMonth">
            <span class="currentDate" *ngIf="currentDate === day; else: otherDate">{{ day }}</span>
            <ng-template #otherDate>
              <span
                [ngClass]="
                  isSunday(day) ? 'sundayDate' : isSelected(day) ? 'selectedDate' : 'otherDate'
                "
                >{{ day }}</span
              >
            </ng-template>
            <div class="event-bullet-container">
              <div class="event-bullet pt-bullet" *ngIf="hasPT(day)"></div>
              <div class="event-bullet f-bullet" *ngIf="hasF(day)"></div>
              <div class="event-bullet v-bullet" *ngIf="hasV(day)"></div>
            </div>
          </ion-col>
          <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">{{
            nextDay
          }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div *ngIf="selectedDate" class="details-container">
    <div class="details-insight-header">
      <h1>{{ selectedDate.dayName }}</h1>
      <p>{{ selectedDate.fullDate }}</p>
    </div>
    <div class="details-insight-body">
      <ul>
        <li *ngIf="hasPT(selectedDate.date)" class="insight-pt">
          <div class="bullet"></div>
          <div class="details-insight-item">
            <h1>Junior Barista</h1>
            <p>8:00 - 17:00</p>
          </div>
        </li>
        <li *ngIf="hasF(selectedDate.date)" class="insight-f">
          <div class="bullet"></div>
          <div class="details-insight-item">
            <h1>Content Writer</h1>
            <p>Every Monday</p>
          </div>
        </li>
        <li *ngIf="hasV(selectedDate.date)" class="insight-v">
          <div class="bullet"></div>
          <div class="details-insight-item">
            <h1>Liaison Officer</h1>
            <p>...</p>
          </div>
        </li>
        <!--
          <li class="insight-pt">
            <div class="bullet"></div>
            <div class="details-insight-item">
              <h1>Junior Barista</h1>
              <p>8:00 - 17:00</p>
            </div>
          </li>
          <li class="insight-f">
            <div class="bullet"></div>
            <div class="details-insight-item">
              <h1>Content Writer</h1>
              <p>Every Monday</p>
            </div>
          </li>
        -->
      </ul>
    </div>
  </div>
</ion-content>
