page-apply-success,
page-offer-accepted {
  #completion {
    width: 65%;
    height: 65%;
    margin: auto;
    display: block;
  }

  .mail-icon {
    position: absolute;
    top: 0;
    // margin: 140px 0 0 67px;
    margin: 38% 0 0 19%;
    width: 200px;
    padding: 40px;
  }

  @keyframes hideshow {
    0% {
      opacity: 0.2;
    }
    10% {
      opacity: 0.2;
    }
    15% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  #cirkel {
    animation: hideshow 0.8s ease;
  }

  #check {
    animation: hideshow 0.8s ease;
  }

  #stars {
    animation: hideshow 1.2s ease;
    opacity: 0.9;
  }

  @keyframes hideshow {
    0% {
      transform: scale(0.2);
      transform-origin: initial;
    }
    100% {
      transform: scale(1);
      transform-origin: initial;
    }
  }

  @keyframes draaien {
    0% {
      transform: rotate(40deg);
      transform-origin: initial;
    }
    100% {
      transform: scale(0deg);
      transform-origin: initial;
    }
  }

  #check {
    animation: draaien 0.8s ease;
  }

  @keyframes transparant {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  #check {
    animation: transparant 2.5s;
  }

  .success-msg-container {
    position: relative;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      font-size: 1.2em;
      text-align: center;
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      margin-top: 5vw;

      font-family: Nunito;
      font-weight: 700;
      font-size: 1em;
      color: map-get($colors, primary);

      ion-icon {
        margin-left: 10px;
        font-size: 1.3em;
      }
    }
  }
}
