<ion-content padding>
  <svg id="completion" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 101">
    <style>
      .st0 {
        fill: #0963b0;
        fill-opacity: 0.4;
      }
      .st1 {
        fill: #0963b0;
        fill-opacity: 0.1;
      }
      .st2 {
        fill: #0963b0;
      }
      .stWhite {
        fill: #fff;
        fill-opacity: 0.4;
      }
    </style>
    <!-- <title>C1DBEBC0-CF7A-42D3-B615-1AB5DE73C3E9</title> -->
    <!-- https://codepen.io/sandersmeekes/pen/QdQdOL -->
    <g id="configurator">
      <g id="configurator_completion">
        <g id="stars">
          <circle id="Oval" class="st0" cx="14" cy="18" r="1" />
          <circle id="Oval-Copy-4" class="st0" cx="27" cy="20" r="1" />
          <circle id="Oval-Copy-10" class="st0" cx="76" cy="20" r="1" />
          <circle id="Oval-Copy-2" class="st0" cx="61.5" cy="12.5" r="1.5" />
          <circle id="Oval-Copy-9" class="st0" cx="94" cy="53" r="1" />
          <circle id="Oval-Copy-6" class="st0" cx="88" cy="14" r="1" />
          <circle id="Oval-Copy-7" class="st0" cx="59" cy="1" r="1" />
          <circle id="Oval_1_" class="st0" cx="43" cy="9" r="2" />
          <path
            id="ster-01"
            class="st0"
            d="M28.5 3.8L26 6l2.2-2.5L26 1l2.5 2.2L31 1l-2.2 2.5L31 6z"
          />
          <path
            id="ster-01"
            class="st0"
            d="M3.5 50.9l-2.1 2.4 1.7-2.7-2.9-1.2 3.1.8.2-3.2.2 3.2 3.1-.8-2.9 1.2 1.7 2.7z"
          />
          <path
            id="ster-01"
            class="st0"
            d="M93.5 27.8L91 30l2.2-2.5L91 25l2.5 2.2L96 25l-2.2 2.5L96 30z"
          />
          <circle id="Oval-Copy-5" class="st0" cx="91" cy="40" r="2" />
          <circle id="Oval-Copy-3" class="st0" cx="7" cy="36" r="2" />
          <circle id="Oval-Copy-8" class="st0" cx="7.5" cy="5.5" r=".5" />
        </g>
      </g>
    </g>
    <g id="cirkel">
      <g id="Mask">
        <path
          id="path-1_1_"
          class="st1"
          d="M49 21c22.1 0 40 17.9 40 40s-17.9 40-40 40S9 83.1 9 61s17.9-40 40-40z"
        />
      </g>
    </g>
  </svg>
  <svg id="check" class="mail-icon" viewBox="0 0 24 24">
    <rect class="cls-1 st2" x="3" y="4.5" width="18" height="15" rx="2.24" ry="2.24" />
    <polyline class="cls-1 stWhite" points="3 8.15 12 12.16 21 8.15" />
  </svg>

  <div class="success-msg-container">
    <h3>You've applied for the job!</h3>
    <h4>We'll send you an email when the company decided to offer you the position.</h4>
    <button (click)="goToHome()">
      click here to go back
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
