page-details-part-time,
page-details-freelance,
page-details-volunteer {
  h3 {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0.3em 0 0.7em 0;
    font-size: 0.85em;
    color: map-get($colors, lightgrey);
  }

  .posted-date {
    font-weight: 400;
    color: map-get($colors, dark);
  }

  .item-md {
    padding: 0;
  }
  .detail-job-spinner {
    display: block;
    margin: auto auto;
    width: 18px;
    height: 18px;
    // &.spinner-crescent circle {
    //   stroke: map-get($colors, primary);
    // }
  }
  .work-days-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    margin-bottom: 10px;

    ul {
      display: flex;
      flex-direction: row;
      margin: 0.5em 0;
      padding: 0;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        color: #ddd;
        border: 1px solid #ddd;
        border-radius: 100px;
      }

      .active {
        color: map-get($colors, primary);
        border: 1px solid map-get($colors, primary);
      }
    }
  }

  .work-hours-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 10px;
    padding: 5px 0;
    box-shadow: 0 1px 5px #ccc;

    .work-hour-container {
      flex: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 0 5px;
      border-radius: 10px;
      background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));

      h3 {
        color: white;
        margin: 0;
        font-size: 1.3em;
      }
    }

    .separator-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: 400;
        color: black;
        margin: 0;
        font-size: 1.3em;
      }
    }
  }

  .description-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-top: 1px solid #eee;
    padding: 15px 0;

    p {
      font-family: Nunito;
      color: black;
      font-size: 1em;
    }

    h4 {
      margin: 1rem 0 0 0;
      font-weight: 700;
      font-size: 1.2em;
      font-family: Nunito;
    }

    ul {
      margin: 0 0 0 20px;
      padding: 0;
      li {
        margin-top: 5px;
        font-family: Nunito;
        color: black;
        font-size: 1em;
      }
    }
  }

  .apply-btn {
    width: 100%;
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 10px;

    font-family: Nunito;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
  }

  .part-time-btn {
    background: linear-gradient(0.25turn, map-get($colors, primary), map-get($colors, secondary));
  }
  .freelance-btn {
    background: linear-gradient(
      0.25turn,
      map-get($colors, green-primary),
      map-get($colors, green-secondary)
    );
  }
  .volunteer-btn {
    background: linear-gradient(
      0.25turn,
      map-get($colors, red-primary),
      map-get($colors, red-secondary)
    );
  }

  .fee-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    padding: 20px;

    h2 {
      font-family: Nunito;
      font-weight: 900;
      font-size: 2em;
      margin: 0;
    }

    .part-time-fee {
      color: map-get($colors, primary);
    }
    .freelance-fee {
      color: map-get($colors, green-primary);
    }
    .volunteer-fee {
      color: map-get($colors, red-primary);
    }

    h4 {
      font-family: Nunito;
      font-weight: 400;
      color: black;
      font-size: 1em;
      margin: 5px 0 0 0;
    }
  }
}
