<ion-header no-border>
  <ion-navbar> <ion-title>Details</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="partTimeJobs != null && company != null">
    <h3>{{ partTimeJobs.role }}</h3>
    <p>
      Posted on <span class="posted-date">{{ showDate(partTimeJobs.datePosted) }}</span>
    </p>
    <ion-item class="job-list-partner">
      <ion-avatar item-start
        ><img
          src="{{company.logo}}"
          (load)="loaded = true"
          [ngClass]="{ 'img-loaded': loaded }"
          [hidden]="!loaded"
        />
      </ion-avatar>
      <h2>{{ company.companyName }}</h2>
      <p>{{ company.location }}</p>
    </ion-item>

    <div class="work-days-container">
      <ul>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['sunday'] }">S</li>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['monday'] }">M</li>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['tuesday'] }">T</li>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['wednesday'] }">W</li>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['thursday'] }">T</li>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['friday'] }">F</li>
        <li [ngClass]="{ active: partTimeJobs.schedules.shiftDay['saturday'] }">S</li>
      </ul>
    </div>

    <div class="work-hours-container">
      <div class="work-hour-container">
        <h3>
          {{ partTimeJobs.schedules.shiftTime[0].timeIn }} -
          {{ partTimeJobs.schedules.shiftTime[0].timeOut }}
        </h3>
      </div>
      <div class="separator-container"><h3>or.</h3></div>
      <div class="work-hour-container">
        <h3>
          {{ partTimeJobs.schedules.shiftTime[1].timeIn }} -
          {{ partTimeJobs.schedules.shiftTime[1].timeOut }}
        </h3>
      </div>
    </div>

    <div class="description-container">
      <p>{{ partTimeJobs.description }}</p>

      <h4>Responsibilities</h4>
      <ul>
        <li *ngFor="let responsibilites of partTimeJobs.responsibilities; let i = index">
          {{ partTimeJobs.responsibilities[i] }}
        </li>
        <!--
          <li>
              {{partTimeJobs.responsibilities[1]}}
          </li>
          <li>
              partTimeJobs.responsibilities[2]
          </li>
        -->
      </ul>
    </div>
    <div *ngIf="!isApplied">
      <button [disabled]="isClicked" (click)="onSuccessApply()" class="apply-btn part-time-btn">
        <div *ngIf="!isClicked">APPLY</div>
        <ion-spinner *ngIf="isClicked" class="detail-job-spinner" name="crescent"></ion-spinner>
      </button>
    </div>
    <!-- ABSOLUTE -->
    <div class="fee-container">
      <h2 class="part-time-fee">${{ partTimeJobs.salary }}</h2>
      <h4>/hour</h4>
    </div>
  </div>
</ion-content>
