<ion-tabs mode="md" class="tabs" tabsPlacement="top" no-border>
  <ion-tab tabTitle="Part-Time" [root]="partTime" [rootParams]="data"></ion-tab>
  <ion-tab tabTitle="Freelance" [root]="freelance" [rootParams]="data"></ion-tab>
  <ion-tab tabTitle="Volunteer" [root]="volunteer" [rootParams]="data"></ion-tab>
  <ion-tab tabTitle="Apply/Offer" [root]="applyOffer" [rootParams]="data"></ion-tab>
</ion-tabs>
